body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

p{
    font-size: 14px;
    color: navy;
} 
#js-output {
    cursor: pointer;
    transition: color 5.5s ease;
    font-weight: bold;
}
